# Backend
API_PORT=8000

# Frontend (Docker demo)
FRONTEND_PORT=8080

# Lichess Opening Explorer
# Note: en mars 2026, l'endpoint peut répondre 401 sans Authorization.
LICHESS_EXPLORER_BASE_URL=https://explorer.lichess.org
LICHESS_EXPLORER_DB=lichess
# Crée un token ici : https://lichess.org/account/oauth/token
# LICHESS_TOKEN=

# Stockfish
STOCKFISH_PATH=/usr/games/stockfish
STOCKFISH_DEPTH=14

# HTTP
HTTP_TIMEOUT_SECONDS=8

# CORS (frontend Angular dev server)
CORS_ALLOW_ORIGINS=http://localhost:4200,http://127.0.0.1:4200,http://localhost:8080,http://127.0.0.1:8080

# Reserved for later steps
MONGO_PORT=27017
MILVUS_PORT=19530

# Milvus / MinIO
MILVUS_HOST=milvus
MILVUS_COLLECTION=openings
MILVUS_METRICS_PORT=9091
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

# Embeddings
# Par défaut on utilise un modèle léger CPU via fastembed (ONNX Runtime)
# pour éviter les dépendances PyTorch/CUDA dans l'image Docker.
EMBEDDING_MODEL_NAME=BAAI/bge-small-en-v1.5

# YouTube Data API v3 (Étape 4)
# On utilise une *clé API* (pas OAuth) pour faire des recherches publiques.
# Crée-la dans Google Cloud Console puis colle-la ici :
# YOUTUBE_API_KEY=
YOUTUBE_REGION_CODE=FR
YOUTUBE_RELEVANCE_LANGUAGE=fr
